{% extends 'base.html' %}

{% block title %}
    Flight from {{ flight.origin }} to {{ flight.destination }}
{% endblock %}

{% block content %}

    <h1>Flight {{ flight.id }}</h1>

    <p>
        {{ flight }}
    </p>

    <h2>List of passengers</h2>

    <ul>
        {% for passenger in passengers %}
            <li> {{ passenger }} </li>
        {% empty %}
            <li>List of passengers is empty.</li>
        {% endfor %}
    </ul>

    <p>
        <a href="{% url 'index' %}">Back to full list</a>
    </p>

{% endblock %}